<!DOCTYPE html>
<html>
<head>
	<title>Element Properties</title>
	<style>
		table {
			margin:20px;
			border: 1px solid #ddd;
			border-collapse: collapse;
		}
		table {
			border-collapse: collapse;
		}
		table th,
		table td {
			border: 1px solid #ccc;
		}

	</style>
</head>
<body style="padding:20px">

	<div style="width:500px;height:500px;border:1px solid blue">
		<table style="background:#ccf;height:300px">
			<tbody>
				<tr style="height:100px">
					<td>
						<div>Cell 0,0</div>
					</td>
					<td>
						<div>Cell 0,1</div>
					</td>
				</tr>
				<tr style="background:red;height:0.000001%">
					<td style="">
						<div style="background:#cfc;height:50%">Cell 1,0</div>
					</td>
					<td>
						<div>Cell 1,1</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

</body>
</html>
